.span1
{
    font-weight: 700;
    color: rgb(0, 127, 175);
}
.h11
{
    font-weight: 800;
    color:black;

}
h6{
    font-weight: 300;
}
.profimg
{
    /* border-radius: 50%;
    border-color: cornflowerblue ;
    border-width: 2px;
   margin-left: 40%;
   margin-top: 10%;
   height: 43%;
   width: 25%; */

   display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: auto;
  border-radius: 50%;
  margin-top: 8%;
  border : rgb(68, 2, 122) solid 8px;
  opacity: .95;
}

.profimg:hover
{
    background-color: white;
    border-color: rgb(0, 127, 175);
    color: blueviolet;
    opacity: 1;
    
}

.hrrr
{
    
    /* margin-top: 1rem;
    margin-bottom: 1rem; */
    border: 2px;
    border-top: 3.5px solid grey;
}
.hrr {
    
    /* margin-top: 1rem;
    margin-bottom: 1rem; */
    border: 4px;
    border-top: 6px solid rgb(0, 127, 175);
    
    
  }

  .hrr1
  {
    border: 4px;
    border-top: 6px solid rgb(255, 255, 255);
  }
  
  /* .bgimg
  {
      background-image: url("ger.png");
      height: 100%;
      background-blend-mode: lighten;
  } */
  body
  {
    
    font-family: 'Noto Sans', sans-serif;
      height: 100%;
      width: 100%;
  }
  .pdng
  {
      padding-left: 5%;
      padding-right: 5%;
      
  }
  .ipdng
  {
    padding-left: 8%;
    
  }

  /* .lin
  {
      line-height: 50px;
  } */

  .contimg
  {
     
      
     margin-top: 25%;
     margin-left: 25%;
     align-content: center;
  }